<h1>Join Game</h1>
<form>
<label for=room_code>Room Code:</label>
<input type=text name=room_code>
<label for=username>Name:</label>
<input type=text name=username>
<label for=host>Host?</label>
<input type=checkbox name=host>
<input type=button name=submit value=Go>
</form>

<script>

	var room_code;
	var name;

	socket.on("accept host", function()
	{
		//Make sure the accept player event does not fire
		room_code = $("input[name=room_code]").val();
		socket.removeListener("accept player");
		switchView('/views/host_console.html');
	});

	socket.on("accept player", function()
	{
		console.log("I have been accepted")
		room_code = $("input[name=room_code]").val();
		name = $("input[name=username]").val();
		console.log("I am " + name + " in room " + room_code);
		//Remove the listener so the globals won't be overridden
		socket.removeListener("accept player");
		switchView('/views/lobby.html');
	});

	$("input[name=submit]").on('click', function()
	{
		var host = $("input[name=host]").is(":checked");
		var data = {username:$("input[name=username]").val(), room_code:$("input[name=room_code]").val(), host:host};
		socket.emit("player joined", data);
	});
	$("input[name=host]").on('click', function()
	{
		$("input[name=username]").toggle();
		$("label[for=username]").toggle();
	})
</script>