<!DOCTYPE html>
<html>

<head>
<title>Jeopardy!</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link href="//db.onlinewebfonts.com/c/871fe0d078853d778f22b83af5c27159?family=ITCKorinnaW01-Regular" rel="stylesheet" type="text/css"/>
<link href="//db.onlinewebfonts.com/c/168cb827a28ad8dceaeadb1f36af0693?family=Swiss911W01-ExtraCompressed" rel="stylesheet" type="text/css"/>
</head>

{% block body %}{% endblock %}
<script rel=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
<script rel=text/javascript src="{{ url_for('static', filename='socket.io.js') }}"></script>
{% block script %}{% endblock %}

</html>