{% extends "layout.html" %}
{% block body %}
<h2>Awaiting game start.</h2>
<h2>Other players in lobby:</h2>
<ul id=player_list>
</ul>
{% endblock %}
{% block script %}
<script rel=text/javascript>
	var $player_list = $("#player_list");
	var socket = io();
	var join_data = {name: "{{ session['username'] }}", room: "{{ session['room'] }}"};
	socket.emit("user entered lobby", join_data);
	socket.on("users in lobby", function(names)
	{
		$player_list.html("");
		console.log(names)
		for(var i = 0; i < names.length; i++)
		{
			$player_list.append('<li>' + names[i] + "</li>");
		}
	});
</script>
{% endblock %}