{% extends "layout.html" %}
{% block body %}
	<div>
		<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Jeopardy!_logo.png/340px-Jeopardy!_logo.png" alt="Jeopardy" id="title">
	</div>
	<div id=startform>
		<div id=startbuttons>
			<form action="{{ url_for('start_game') }}" method=get>
			  <!-- These should be validated somehow -->
			  <input class=gamestart type=submit value="HOST GAME">
			</form>

			<form action="{{ url_for('join_game') }}" method=get>
				<input class=gamestart type=submit value="JOIN GAME">
			</form>
		</div>
	</div>
{% endblock %}